.main {
	padding-top: 20px;
}
html,body {
	height : 88%;
	padding-bottom: 20px;
	background-image: url(../img/bg-landing.png);
}
.main-sidebar {
	min-height: 550px;
}
.main-container {
	border-left: 1px solid #CCCCCC;
	padding-left: 20px;
	
    min-height: 100%;
    height: auto !important;
    height: 100%;
  }

.label-error {
	 display: inline-block;
	 padding: 2px 4px;
	 line-height: 14px;
	 color: red;
	 white-space: nowrap;
	 vertical-align: baseline;
}

.label-error-new {
	 padding: 2px 4px;
	 line-height: 14px;
	 color: red;
	 white-space: nowrap;
	 vertical-align: baseline;
}

.labelWarning {
	 display: inline-block;
	 padding: 2px 4px;
	 line-height: 14px;
	 color: blue;
	 white-space: nowrap;
	 vertical-align: baseline;
}

.labelSuccess {
	 display: inline-block;
	 padding: 2px 4px;
	 line-height: 14px;
	 color: green;
	 white-space: nowrap;
	 vertical-align: baseline;
}

.labelSuccessNew {
	 padding: 2px 4px;
	 line-height: 14px;
	 color: green;
	 white-space: nowrap;
	 vertical-align: baseline;
}

.footer {
        background-color: rgba(0,0,0,0.70);
	padding:17px 0 18px 0;
}

.a-checkbox-label {
	font-weight:normal;
}

hr {
	margin: 5px;
}
div small.error {
  	color: #B94A48; /* color to match Bootstraps error class */
}
 
 

/* Base class */

.bs-docs-example {
  position: relative;
  min-height: 150px;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

 

/* Echo out a label for the example */

.bs-docs-example:after {
  content: attr(divHeader);
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 7px 7px;
  font-size: 15px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #331400;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
} 

.sleft {
       width: 250px;
}
 
.sright {
       text-align : left;
}
.grid16 {
	width: 1060px;
}
.grid8 {
	width: 460px;
}
.grid10 {
	width: 580px;
}
.grid6 {
	width: 340px;
}
.grid16, .grid8, .grid10, .grid6 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.alpha {
	margin-left: 0;
}
.omega {
	margin-right: 0;
}
.top_spacing_10 {
	margin-top: 10px;
}

.auditHead {
	float: right;
	font: 20px;
}

.cert_status {
	border: 1px solid #CECECE;
	padding: 10px;
}

#popup{
    visibility: hidden;
    cursor:pointer;
    border-radius: 7px;
    background:#6b6a63;
    margin:30px auto 0;
    padding:6px;
    position:fixed;
    left: 50%;
	top: 50%;
    margin-top: -40px; /* This should be half of the total height of your div */
	z-index:9999;
}

#popup_content{
    background:#fff;
    padding: 28px 26px 33px 25px;
}

input[type="text"] ,select {
	box-sizing: border-box;
	height: 30px !important;
}

.section-heading{
	margin: 0px !important;
	padding-top: 20px !important;
}

.newLineField{
	padding-top: 10px !important;
}
.navFooterColHead {
font-family: "AmazonEmber-Regular","arial","sans-serif";
font-weight: bold;
color: #E47911;
margin: 0 0 8px 0;
white-space: nowrap;
}

.sanBtn{
	margin-bottom : 10px;
}

.a-tooltip .a-tooltip-inner {
	height : auto !important;
	max-width : 400px !important;
	line-height : 18px !important;
}
.custom-page-header{
  padding-bottom: 9px;
   border-bottom: 1px solid #eeeeee;
   margin-bottom: 2px;
}
.label-warning,
.badge-warning_custom {
	color:#fff;
	font-size:14px;
	padding:3px;
	padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
  background-color: #EB1E36;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.label-success,
.badge-success_custom {
	color:#fff;
	font-size:14px;
	padding:3px;
	padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
  background-color: #006400;
  
}
.label-success,
.badge-info_custom {
	color:#fff;
	font-size:14px;
	padding:3px;
	padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
  background-color: orange;
  
}
.custom_badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #006400;
  border-radius: 10px;
}


.spacyContent {
	line-height: 35px !important;
}

.narrowContent {
	line-height: 15px !important;
}

.chosen-container {
	min-width: 250px !important;
}

.fixedLayout {
	table-layout: fixed;
}

#passwordStrength
{
	height:10px;
	display:block;
	float:left;
}

.strength0
{
	margin-top: 5px;
	height: 18px;
	width:250px;
	background:#cccccc;
}

.strength1
{
	margin-top: 5px;
	height: 18px;
	width:90px;
	background:#cccccc;
}

.strength2
{
	margin-top: 5px;
	height: 18px;
	width:130px;
	background:#e94c4c;
}

.strength3
{
	margin-top: 5px;
	height: 18px;
	width:150px;	
	background:#ef8484;
}

.strength4
{
	margin-top: 5px;
	height: 18px;
	width:180px;
	background:#f2b2b2;
}

.strength5
{
	margin-top: 5px;
	height: 18px;
	background:#89e989;
	width:220px;
}

.strength6
{
	margin-top: 5px;
	height: 18px;
	background:#179a17;
	width:250px;
}

table
{	
	line-height: 12px !important;
}

.virtua-cop-header
{
	height: 55px !important;
}


.virtua-cop-header-style
{
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

.a-landing
{
background-image: url(../img/bg-landing.png)
}

.language-highlight-style
{
	font-weight: bold !important;
	font-size: 12px;
}

.a-alert-success
{
	background-color: rgb(214,242,208); /* light green */	
}

.a-alert-error
{
	background-color: rgb(252,234,234); /* light red */	
}

.sms-button
{
	margin-left : 20px;
}

.sms-info
{
	margin-left : 5px;
}
